{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}

    <h1>Tous les joueurs</h1>

<div class="moments"> 
{% for player in players %}
  
<div class="card" style="width: 18rem; border:#333 solid 3px; border-radius: 10px;">
  <img src="{{ player.photo }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ player.firstname }} {{player.lastname}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Date de naissance : {{ player.birthdate ? player.birthdate|date('Y-m-d') : '' }}</li>
  </ul>
  <div class="card-body">
    <a href="{{ path('app_player_show', {'id': player.id}) }}" class="card-link">Voir</a>
    <a href="{{ path('app_player_edit', {'id': player.id}) }}" class="card-link">Modifier</a>
  </div>
</div>

{% endfor %}
</div>
<a href="{{ path('app_player_new') }}">Ajouter un nouveau joueur</a>

{% endblock %}
