{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}

    <h1> {{ player.firstname }} {{ player.lastname }} </h1>

  
<div class="card" style="width: 18rem; border:#333 solid 3px; border-radius: 10px;">
  <img src="{{ player.photo }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ player.firstname }} {{player.lastname}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Date de naissance : {{ player.birthdate ? player.birthdate|date('Y-m-d') : '' }}</li>
  </ul>
  <div class="card-body">
    <a href="{{ path('app_player_edit', {'id': player.id}) }}" class="card-link">Modifier</a>
    <a href="{{ path('app_player_index') }}">Retour aux joueurs</a>
  </div>
</div>

    {{ include('player/_delete_form.html.twig') }}
{% endblock %}
