{% extends 'base.html.twig' %}

{% block title %}Nations{% endblock %}

{% block body %}
    <h1>Toutes les nations</h1>

<div class="moments"> 

{% for team in teams %}

{% if team.type == 'Pays' %}
  
<div class="card" style="width: 18rem; border:#333 solid 3px; border-radius: 10px;">
  <img src="{{ team.logo }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ team.country }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Type : {{ team.type }}</li>
  </ul>
  <div class="card-body">
    <a href="{{ path('app_team_show', {'id': team.id}) }}" class="card-link">Voir</a>
    <a href="{{ path('app_team_edit', {'id': team.id}) }}" class="card-link">Modifier</a>
  </div>
</div>

{% endif %}

{% endfor %}

</div>
<a href="{{ path('app_team_new') }}">Ajouter un nouveau club</a>
{% endblock %}