<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">
      <img src="{{ asset ('build/images/home_logo.svg') }}" alt="" width="30" height="24">
      #MMF
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_moment_index') }}">Moments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_player_index') }}">Joueurs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Equipes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ path('app_team_index') }}">Clubs</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_nation_index') }}">Pays</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Compétitions
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ path('app_competition_index') }}">Nationales</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_continentale_index') }}">Continentales</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_internationale_index') }}">Internationales</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_stadium_index') }}">Stades</a>
        </li>
      </ul>
      {% if app.user is defined %}
				<div class="header_logout">
        <input type="hidden" name="csrf_token_id" value="/">
					<a href="{{ path('app_logout') }}" class="nav-link">
						<i class='bi bi-box-arrow-left'></i>
						<span class="nav_name">Déconnexion</span>
					</a>
				</div>
      {% else %}
        <div class="header_login">        
          <a href="{{path('app_login')}}" class="nav-link">
            <i class='bi bi-box-arrow-in-right'></i>
            <span class="nav_name">Connexion</span>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</nav>